# requirements.txt

aioconsole==0.7.0
aiogrpc==1.8
asttokens==2.4.1
comm==0.2.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
grpcio==1.60.1
jedi==0.19.1
mavsdk==1.4.9
mpmath==1.3.0
nest-asyncio==1.6.0
packaging==23.2
parso==0.8.3
pexpect==4.9.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==3.20.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.8.2
pyzmq==25.1.2
six==1.16.0
stack-data==0.6.3
sympy==1.12
tornado==6.4
traitlets==5.14.1
wcwidth==0.2.13

